<div class="login">
 <div class="flex justify-content-center">
    <p-card [style]="{'width':'400px','height':'400px','margin-top':'60px'}">
        <h1 class="text-center p-1 text-2xl text-900">Login</h1> 
        <hr>
        <input type="text" placeholder="Username"  name="" id="" class="w-full p-3 mt-4 border-x-none border-top-none surface-border text-lg">
        <input type="text" placeholder="Password"  name="" id="" class="w-full p-3 mt-4 mb-4 border-x-none border-top-none surface-border text-lg">
        <span class="p-3" ><a class="no-underline text-900" href="">Forget Password?</a></span><br>
        <span class="flex justify-content-center">
            <button class="mt-4 w-10 p-2 justify-content-center" pButton>Login</button>
        </span>
        <span class="flex justify-content-center mt-3">
            <h3 class="text-sm">Not a member?<a class="no-underline" href="">Signup</a></h3>
        </span>
       
     </p-card>
 </div>   
</div>
