<div class="bg-primary-100">
<div class="card p-5">
  <h1 class="text-center">Form</h1> 
  <form [formGroup]="taskForm" *ngIf="taskForm"  (ngSubmit)="onSubmit()">
    <div class="flex flex-wrap card-container"   style="max-width: 100%">
    <div *ngFor="let item of jsonData;let i=index" class="flex align-items-center justify-content-center  font-bold  m-2 " style="min-width:30%; min-height: 100px" >
      <div class="field col" > 
      <ng-container *ngIf="item.type==='text'|| item.type==='email'|| item.type==='number' ||item.type==='date' ">
      <label [for]="item.controlName">{{item.label}}</label> <br>
      <input  [type]="item.type"  [id]="item.controlName"  [formControlName]="item.controlName" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      <div *ngIf="taskForm.get(item.controlName)!.invalid &&(taskForm.get(item.controlName)!.dirty || taskForm.get(item.controlName)!.touched )" >
       <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['required']">
       {{item.requiredMessage}}
       </div>
       <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['pattern']">
        {{item.patternMessage}}
        </div>
       <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['email']">
        {{item.emailformatMessage}}
       </div>
       <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['minlength'] ">
         {{item.lengthMessage}}
       </div>
      </div>
    </ng-container>
    <ng-container *ngIf="item.type==='select'">
      <div *ngIf="item.dropdownOptions" >
      <label for="item.label">{{item.label}}</label><br>
      <p-dropdown  [formControlName]="item.controlName"  [style]="{'width':'350px','height':'40px','padding':'1'}" [options]="item.dropdownOptions"  optionLabel="value" placeholder="select cities"></p-dropdown>
      <div *ngIf="taskForm.get(item.controlName)!.invalid &&(taskForm.get(item.controlName)!.dirty ||taskForm.get(item.controlName)!.touched)">
       <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['required']">
         {{item.requiredMessage}}
       </div>
      </div>
       </div>  
      </ng-container>
      <!-- radio -->
      <ng-container *ngIf="item.type==='radio'">    
      <div class="">
     <label  for="item.controlName">{{item.label}}</label><br>
     <div  class="flex flex-wrap gap-3 mt-3">
    <div *ngFor="let category of item.genderCategories" class="field-checkbox">
        <p-radioButton [inputId]="category.key" [value]="category" [formControlName]="item.controlName"></p-radioButton>
        <label [for]="category.key" class="ml-2">{{ category.name }}</label>
        <div *ngIf="taskForm.get(item.controlName)!.invalid &&(taskForm.get(item.controlName)!.dirty ||taskForm.get(item.controlName)!.touched)">
          <div class="text-red-600" *ngIf="taskForm.get(item.controlName)?.errors?.['required']">
            {{item.requiredMessage}}
          </div>
         </div>
    </div>
  </div>
  </div>   
      </ng-container>
      <ng-container *ngIf="item.type==='checkbox'">
        <div class="">
          <label  for="item.controlName">{{item.label}}</label><br>
          <div  class="flex flex-wrap gap-3 mt-3">
            <div [formArrayName]="item.controlName">
              <div *ngFor="let category of item.skillsCheckboxes;let i=index" class="field-checkbox" >
<!--<p-multiSelect  [formControlName]="i" optionLabel="name"></p-multiSelect> -->
                  <p-checkbox type="checkbox" [id]="category.key"  [value]="category" [formControlName]="i" [inputId]="category.key"></p-checkbox>
                  <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
          </div>
          </div>
      </ng-container>
      </div>
    </div>
  </div>
  <div class="card flex justify-content-center">
    <p-button label="Submit" [disabled]="taskForm.invalid" type="submit" class="mr-2" icon="pi pi-check"></p-button>
    <p-button label="Reset" type="reset" styleClass="p-button-danger" icon="pi pi-check"></p-button>
</div>
</form> 
</div>
</div>
<div>
  <app-sample></app-sample>
</div>

















 <!-- <div class="flex align-items-center justify-content-center  font-bold  m-2 " style="min-width:30%; min-height: 100px">
        <div class="field col">
          <label for="firstname2">Lastname</label>
          <input id="firstname2"   type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      </div> -->
      <!-- <div class="flex align-items-center justify-content-center  font-bold  m-2 " style="min-width:30%; min-height: 100px">
        <div class="field col">
          <label for="firstname2">Email</label>
          <input id="firstname2" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
      </div> -->